<!DOCTYPE html>
<html>
    <head>
        <title>Peeps Finder</title>
        <!-- Links to the CSS file -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        <h2>Welcome {{fname}}!</h2>

        <select id="options" name="chosen_option" form="options_form">
            <option selected disabled hidden>Options</option>
            <option id="logout_button" value="log_out">Log Out</option>
            <option id="profile_button" value="profile">Profile</option>
        </select>
        
        <input type="text" id="search_bar" placeholder="Search for Users">

        <p id="error_message" style="color:red;" hidden>No user found with that username.</p>

        <!-- Link to the JS file -->
        <script src="{{ url_for('static', filename='js/homepage.js') }}"></script>
    </body>
</html>
