<!DOCTYPE html>
<html>
    <head>
        <!-- Prevents the browser from caching this webpage when it leaves this webpage -->
        <meta http-equiv="Cache-Control" content="no-store">
        <title>Name Of Website</title>
        <!-- Links to the CSS file -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
    </head>
    
    <body>
        <h1>Name Of Website</h1>
        <h2>homepage</h2>

        <select id="options" name="chosen_option" form="options_form">
            <option selected disabled hidden>Options</option>
            <option value="log_out">Log Out</option>
            <option value="profile">Profile</option>
        </select>
        
        <input type="text" id="search_bar" placeholder="Search for Users">

        <p id="error_message" style="color:red;" hidden>No user found with that username.</p>

        <!-- Link to the JS file -->
        <script src="{{ url_for('static', filename='js/homepage.js') }}"></script>
    </body>
</html>
