<!DOCTYPE html>
<html>
    <head>
        <title>Peeps Finder</title>
        <!-- Links to the CSS file -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        <h1>Login to Peeps Finder</h1>
        <!-- Login text box -->
        <form id="login_form">
            <input type="text" id="username" name="username" placeholder="Username"><br>
            <input type="password" id="password" name="password" placeholder="Password"><br>
            <input type="submit" id="login_button" value="Login">
        </form>

        <p id="incorrect_login_details_text" style="color:red;" hidden>Incorrect login details. Please check your login information and try again.</p>
        <p id="error_text" style="color:red;" hidden>An error occurred. Please try again.</p>

        <!-- Back button that goes to the create account page -->
        <form action="/" method="GET">
            <input type="submit" id="sign_up_button" value="Sign Up">
        </form>

        <!-- Link to the JS file -->
        <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    </body>
</html>
