<!DOCTYPE html>
<html>
    <head>
        <title>Peeps Finder</title>
        <!-- Links to the CSS file -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
        <meta name="viewport" content="width=device-width">
    </head>
    
    <body>

        <p id="userID" hidden>{{user_id}}</p>
        <p id="currentUserID" hidden>{{current_user_id}}</p>
        <p id="attachment1Filename" hidden>{{attach_1_name}}</p>
        <p id="attachment2Filename" hidden>{{attach_2_name}}</p>
        <p id="attachment3Filename" hidden>{{attach_3_name}}</p>

        <!-- Back button that goes to the homepage -->
        <form action="/home" method="GET">
            <input type="submit" id="back_button" value="Back">
        </form>

        <form id="profile_info">
            <label for="username" id="username_label" hidden>Username:</label>
            <input type="text" name="username" id="username" value="{{username}}" placeholder="{{username}}" disabled><br><br>
            <input type="text" name="fname" id="fname" value="{{fname}}" placeholder="{{fname}}" disabled><br><br>
            <input type="text" name="lname" id="lname" value="{{lname}}" placeholder="{{lname}}" disabled><br><br>
            <label id="bio_label" for="bio">About</label>
            <textarea name="bio" id="bio" placeholder="{{bio}}" disabled>{{bio}}</textarea>
            <label for="password" id="password_label" hidden>Password:</label>
            <input type="password" name="password" id="password" disabled hidden placeholder="********"><br><br>
            <label id="attachments_label">Attachments</label>
            <input type="submit" id="save_changes" value="Save Changes" hidden disabled><br><br>
        </form>

        <button type="button" id="edit_profile_button">Edit Profile</button>

        <form action="{{url_for('onDeleteAccount', user_id=user_id)}}">
            <button id="delete_button" type="submit" disabled hidden>Delete Account</button>
        </form>

        <p id="error_message" style="color:red;" hidden>Unable to save changes. Please check your information and try again.</p>
        
        <p id="something_went_wrong_message" style="color:red;" hidden>An error occurred. Please try again.</p>
        
        <p id="pfp_error_message" style="color:red;" hidden>Only PNG files are allowed.</p>

        <p id="pfp_too_large" style="color:red;" hidden>Only PNGs up to 16MB are accepted.</p>

        <p id="attachment_error_message" style="color:red;" hidden>Only PDF files are allowed.</p>

        <p id="attachment_too_large" style="color:red;" hidden>Only PDFs up to 16MB are accepted.</p>

        <!-- Link to JS file -->
        <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
    </body>
</html>