<!DOCTYPE html>
<html>
    <head>
        <title>Name Of Website</title>
        <!-- Links to the CSS file -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    </head>
    
    <body>

        <p id="userID" hidden>{{user_id}}</p>
        <p id="currentUserID" hidden>{{current_user_id}}</p>

        <!-- Back button that goes to the homepage -->
        <form action="/home" method="GET">
            <input type="submit" value="Back">
        </form>

        <form id="profile_info">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" value="{{username}}" placeholder="{{username}}" disabled><br><br>
            <label for="fname">First Name:</label>
            <input type="text" name="fname" id="fname" value="{{fname}}" placeholder="{{fname}}" disabled><br><br>
            <label for="lname">Last Name:</label>
            <input type="text" name="lname" id="lname" value="{{lname}}" placeholder="{{lname}}" disabled><br><br>
            <label for="bio">Bio:</label>
            <input type="text" name="bio" id="bio" value="{{bio}}" placeholder="{{bio}}" disabled><br><br>
            <label for="password" id="password_label" hidden>Password:</label>
            <input type="password" name="password" id="password" disabled hidden placeholder="********"><br><br>
            <input type="submit" id="save_changes" value="Save Changes" hidden disabled><br><br>
        </form>

        <button type="button" id="edit_profile_button">Edit</button>

        <form action="{{url_for(onDeleteAccount)}}">
            <button type="submit">Delete Account</button>
        </form>

        <p id="error_message" style="color:red;" hidden>Unable to save changes. Please check your information and try again.</p>
        
        <p id="pfp_error_message" style="color:red;" hidden>Only PNG files are allowed.</p>

        <p id="attachment_error_message" style="color:red;" hidden>Only PDF files are allowed.</p>

        <!-- Link to JS file -->
        <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
    </body>
</html>