<!DOCTYPE html>
<html>
    <head>
        <title>Peeps Finder</title>
        <!-- Links to the CSS file -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sign_in.css') }}">
    </head>
    
    <body>
        <h1>PEEPS FINDER</h1>
        <h2>SIGN UP TO START FINDING YOUR PEEPS!</h2>
        <form id="sign_up_form">
            <input type="text" id="fname" name="fname" placeholder="First Name"><br>
            <input type="text" id="lname" name="lname" placeholder="Last Name"><br>
            <input type="text" id="username" name="username" placeholder="Username"><br>
            <input type="password" id="password" name="password" placeholder="Password"><br>
            <input type="submit" value="Create Account">
        </form>

        <!-- Go to log in screen from sign up screen -->
        <form action="/login" method="GET">
            <input type="submit" value="Log in">
        </form>

        <p id="improper_details_text" style="color:red;" hidden>Invalid account details entered. Please check your information and try again.<br>Username must be unique, alphanumeric, and 5-20 characters long.<br>Password must be 6+ characters long.<br>First and last name cannot be blank and must be alphabetical.</bro></p>
        <p id="error_text" style="color:red;" hidden>An error occurred. Please try again.</p>

        <!-- Link to the JS file -->
        <script src="{{ url_for('static', filename='js/sign_in.js') }}"></script>
    </body>
</html>
