<!DOCTYPE html>
<html>
    <head>
        <title>Peeps Finder</title>
        <!-- Links to the CSS file -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sign_in.css') }}">
    </head>
    
    <body>
        <h1 id="title">PEEPS FINDER</h1>
        <h2 id="heading">SIGN UP TO START FINDING YOUR PEEPS!</h2>
        <form id="sign_up_form">
            <label for="fname" id="fname_label">First Name</label>
            <input type="text" id="fname" name="fname" placeholder="Cannot be blank"><br>
            <label for="lname" id="lname_label">Last Name</label>
            <input type="text" id="lname" name="lname" placeholder="Cannot be blank"><br>
            <label for="username" id="username_label">Username</label>
            <input type="text" id="username" name="username" placeholder="Alphanumeric, 5-20 characters"><br>
            <label for="password" id="password_label">Password</label>
            <input type="password" id="password" name="password" placeholder="At least 6 characters"><br>
            <input type="submit" id="create_account" value="Create Account">
        </form>

        <!-- Go to log in screen from sign up screen -->
        <form action="/login" method="GET">
            <input type="submit" id="login_button" value="Log in">
        </form>

        <p id="improper_details_text" style="color:red;" hidden>Invalid account details entered. Please check your information and try again.</p>
        <p id="error_text" style="color:red;" hidden>An error occurred. Please try again.</p>

        <!-- Link to the JS file -->
        <script src="{{ url_for('static', filename='js/sign_in.js') }}"></script>
    </body>
</html>
