/*--Default styles--*/
*{
    font-family: "Arial";
    text-align: center;
}

body{
    background-color: blanchedalmond;
    height: 340px;
    position: relative;
    margin: auto;
    width: 560px;
}

h1{
    position: absolute;
    left: 1px;
    right: 1px;
    color: black;
}

p{
    position: absolute;
    color: black;
    left: 1px;
    right: 1px;
    top: 60px;
}

#user_details_form{
    position: absolute;
    background-color: blanchedalmond;
    border: 1px solid black;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 10px;
    height: 174px;
    width: 465px;
    top: 120px;
}

#username{
    width: 415px;
    height: 38px;
    position: absolute;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f0f0f0;
    left: 50%;
    transform: translate(-50%, 30%);
}

#username::placeholder{
    color: black;
}

#username[type="text"]{
    color: black;
}

#password{
    width: 415px;
    height: 38px;
    position: absolute;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f0f0f0;
    left: 50%;
    transform: translate(-50%, 170%);
}

#password::placeholder{
    color: black;
}

#password[type="password"]{
    color: black;
}

#delete_account_button{
    position: absolute;
    transform: translate(5%, 330%);
    width: 200px;
    height: 38px;
    border-radius: 10px;
    background-color: #f0f0f0;
}

#cancel_button{
    position: absolute;
    transform: translate(-105.6%, 648%);
    width: 200px;
    height: 38px;
    border-radius: 10px;
    background-color: #f0f0f0;
}

#error_message{
    position: absolute;
    top: 300px;
}
/*------------------*/

/*--Dynamic styles--*/
@media (max-width: 560px){
    body{
        width: 530px;
    }
}
/*------------------*/