/*--Default styles--*/
*{
    font-family: "Arial";
    text-align: center;
}

body{
    /*background-color: #0a0b1b;*/
    background-color: blanchedalmond;
}

#profile_picture{
    width: 125px;
    height: 125px;
    border: 1px solid white;
    border-radius: 100px;
    position: absolute;
    top: 50px;
    transform: translate(-300%, 0%);
}

#edit_profile_button{
    position: absolute;
    transform: translate(5%, 0%);
    width: 200px;
    height: 38px;
    top: 410px;
    border-radius: 10px;
}

#back_button{
    position: absolute;
    width: 90px;
    height: 38px;
    top: 20px;
    transform: translate(-550%, 0%);
    border-radius: 10px;
}

#fname{
    
}

#lname{
    
}
/*------------------*/

/*--Dynamic styles--*/

/*------------------*/