/*--Default styles--*/
*{
    font-family: "Arial";
    text-align: center;
}

body{
    /*background-color: #0a0b1b;*/
    background-color: blanchedalmond;
}

#profile_picture{
    width: 125px;
    height: 125px;
    border: 1px solid white;
    border-radius: 100px;
    position: absolute;
    top: 50px;
    transform: translate(-300%, 0%);
}

#edit_profile_button{
    position: absolute;
    transform: translate(5%, 0%);
    width: 200px;
    height: 38px;
    top: 410px;
    border-radius: 10px;
}

#back_button{
    position: absolute;
    width: 90px;
    height: 38px;
    top: 20px;
    transform: translate(-550%, 0%);
    border-radius: 10px;
}

#fname{
    background-color: blanchedalmond;
    border: none;
    font-size: 30px;
    text-align: right;
    width: 300px;
    transform: translate(-20%,75%);
}

#fname:disabled{
    color: black;
}

#lname{
    background-color: blanchedalmond;
    border: none;
    font-size: 30px;
    text-align: left;
    width: 300px;
    transform: translate(85%, -75%);
}

#lname:disabled{
    color: black;
}

#bio_label{
    font-size: 25px;
    position: absolute;
    transform: translate(-570%, 200%);
}

#bio{
    background-color: blanchedalmond;
    border: none;
    font-size: 20px;
    position:absolute;
    transform: translate(-47.2%, 100%);
    width: 790px;
    height: 100px;
    text-align: left;
    resize: none;
}

#bio:disabled{
    color: black;
}
/*------------------*/

/*--Dynamic styles--*/

/*------------------*/