/*--Default styles--*/
*{
    font-family: "Arial";
    text-align: center;
}

body{
    /*background-color: #0a0b1b;*/
    background-color: blanchedalmond;
    height: 1000px;
}

#profile_picture{
    width: 125px;
    height: 125px;
    border: 1px solid white;
    border-radius: 100px;
    position: absolute;
    top: 50px;
    transform: translate(-300%, 0%);
}

#edit_profile_button{
    position: absolute;
    transform: translate(-5%, -690%);
    width: 200px;
    height: 38px;
    top: 410px;
    border-radius: 10px;
    font-size: 17px;
}

#back_button{
    position: absolute;
    width: 90px;
    height: 38px;
    top: 20px;
    transform: translate(-550%, 0%);
    border-radius: 10px;
    font-size: 17px;
}

#fname{
    background-color: blanchedalmond;
    border: none;
    font-size: 30px;
    text-align: right;
    width: 300px;
    transform: translate(-23%, 145%);
}

#fname:disabled{
    color: black;
}

#lname{
    background-color: blanchedalmond;
    border: none;
    font-size: 30px;
    text-align: left;
    width: 300px;
    transform: translate(82%, -5%);
}

#lname:disabled{
    color: black;
}

#bio_label{
    font-size: 25px;
    position: absolute;
    transform: translate(-570%, 200%);
}

#bio{
    background-color: blanchedalmond;
    border: none;
    font-size: 20px;
    position:absolute;
    transform: translate(-47.2%, 100%);
    width: 790px;
    height: 100px;
    text-align: left;
    resize: none;
}

#bio:disabled{
    color: black;
}

#attachments_label{
    font-size: 25px;
    position: absolute;
    transform: translate(-269.5%, 700%);
}

#username{
    border: none;
    background: blanchedalmond;
    text-align: right;
    font-size: 17px;
    position: absolute;
    transform: translate(125%, 0%);
    width: 185px;
}

#username:disabled{
    color: black;
}

#username_label{
    position: absolute;
    font-size: 17px;
    top: 10px;
    transform: translate(177%, -4%);
}

#attachment_1{
    position: absolute;
    font-size: 20px;
    transform: translate(100%, 850%);
    width: 250px;
    text-align: left;
}

#attachment_2{
    position: absolute;
    font-size: 20px;
    transform: translate(208.5%, 850%);
    width: 250px;
    text-align: center;
}

#attachment_3{
    position: absolute;
    font-size: 20px;
    transform: translate(317%, 850%);
    width: 250px;
    text-align: right;
}

#password{
    position: absolute;
    top: 10px;
    background-color: blanchedalmond;
    border: none;
    transform: translate(125%, 150%);
    font-size: 17px;
    width: 185px;
    text-align: right;
}

#password_label{
    position: absolute;
    font-size: 17px;
    top: 10px;
    transform: translate(190%, 170%);
}

#save_changes{
    position: absolute;
    transform: translate(-85%, -690%);
    width: 200px;
    height: 38px;
    top: 410px;
    border-radius: 10px;
    font-size: 17px;
}

#delete_button{
    position: absolute;
    transform: translate(75%, -690%);
    width: 200px;
    height: 38px;
    top: 410px;
    border-radius: 10px;
    font-size: 17px;
}

#pfp_input_btn{
    width: 125px;
    height: 125px;
    border: 1px solid white;
    border-radius: 100px;
    position: absolute;
    top: 50px;
    transform: translate(-300%, 0%);
    cursor: pointer;
    opacity: 0;
}

#pfp_input_btn[type="file"]::file-selector-button{
    cursor: pointer;
}

#attach_input_1{
    position: absolute;
    font-size: 20px;
    transform: translate(-150%, 940%);
    width: 250px;
    height: 22.67px;
    text-align: left;
    opacity: 0;
    cursor: pointer;
}

#attach_input_1[type="file"]::file-selector-button{
    cursor: pointer;
}

#attach_input_2{
    position: absolute;
    font-size: 20px;
    transform: translate(-41.3%, 940%);
    width: 250px;
    height: 22.67px;
    text-align: left;
    opacity: 0;
    cursor: pointer;
}

#attach_input_2[type="file"]::file-selector-button{
    cursor: pointer;
}

#attach_input_3{
    position: absolute;
    font-size: 20px;
    transform: translate(67.2%, 940%);
    width: 250px;
    height: 22.67px;
    text-align: left;
    opacity: 0;
    cursor: pointer;
}

#attach_input_3[type="file"]::file-selector-button{
    cursor: pointer;
}

#error_message{
    position: absolute;
    transform: translate(94%, -200%);
}

#something_went_wrong_message{
    position: absolute;
    transform: translate(235%, -200%);
}

#pfp_error_message{
    position: absolute;
    transform: translate(109%, -310%);
}

#pfp_too_large{
    position: absolute;
    transform: translate(65%, -310%);
}

#attachment_error_message{
    position: absolute;
    transform: translate(285%, 820%);
}

#attachment_too_large{
    position: absolute;
    transform: translate(193%, 820%);
}
/*------------------*/

/*--Dynamic styles--*/

/*------------------*/